<!-- templates/details.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Automode Status</title>
    <!-- Add Bootstrap CSS link -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body class="container mt-5">

        <!-- Navigation buttons with icons -->
    <div class="container mt-3">
        <a href="/" class="btn btn-primary">
            <i class="fas fa-home"></i> Home
        </a>
        <a href="#" onclick="history.back();" class="btn btn-secondary">
            <i class="fas fa-arrow-left"></i> Back
        </a>
    </div>


    <h1>Live Auto Mode Status</h1>
    <div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr class="table-success">
                <th scope="row">#</th>
                <th scope="row">Start datetime</th>
                <th scope="row">End datetime</th>
                <th scope="row">Awattar Price(Eur/kWh)</th>
                <th scope="row">Relay Number</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr>
                <th scope="row">{{ loop.index }}</th>
                <td>{{ item.start_timestamp }}</td>
                <td>{{ item.end_timestamp }}</td>
                <td>{{ item.marketprice }}</td>
                <td>{{ item.relaynumber }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    <!-- Add Bootstrap JS and Popper.js scripts -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>
</html>
